---
layout: default
---
<h1>Version list</h1>
<ul>
  {% assign collection = site.collections | where:'label','versions' | first %}
  {% for file in collection.files %}
  {% assign pathElements = file.path | split:'/' %}
  {% assign count = pathElements | size %}
  {% if count == 3 and pathElements[2] == 'index.html' %}
  {% assign version = pathElements[1] %}
  <li><a href="{{site.url}}/{{site.github.repository_name}}/versions/{{version}}">{{version}}</a></li>
  {% endif %}
  {% endfor %}
</ul>
